<div class="row home">
    <div class="col-md-8 col-xs-12">
        <h3>Welcome to Quiz-O-Matic!</h3>
        <p>Select an option below to take or create a quiz:</p>    
        <div class="col-md-6 col-xs-12 section">            
            <p>Quiz-O-Matic allows you to create a quiz or "would you rather" which you can share with your friends and the internet.</p>
            <button type="button" class="btn btn-info btn-lg center">Create a Quiz</button>
        </div>    
        <div class="col-md-6 col-xs-12 section">
            <p>Browse through and take different quizes others have create.</p>
            <button type="button" class="btn btn-info btn-lg center">Take a Quiz</button>        
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <h3>Login</h3>
        <form>
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username" />
            </div>            
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="text" id="password" />
            </div>     
            <button type="button" class="btn btn-default center" id="submitPasword">Submit</button>       
        </form>
    </div>
    
</div>