/* home */
.home .section {
  margin-bottom: 12px;
}

@media (max-width: 480px) {
  .home {
      margin: 0;
  }
  .home .btn-group-lg>.btn, .btn-lg  {
    padding: 8px 12px;
    font-size: 100%;
  }

  .home h3 {
      text-align: center;
  }
}