
<div class="row home" *ngIf="loaded">
    <div class="col-sm-8 col-xs-12">
        <h3 class="center-xs">Welcome to Quiz-O-Matic!</h3>
          <p>Quiz-O-Matic allows you to create or take a quiz or "would you rather" which you can share with your friends and the internet. Only
            users with an account create a quiz but anyone can take one. 
                </p>
        <div class="col-xs-12 section">
            <div class="col-sm-6 col-xs-12">
            <p>Browse through and take different quizes others have created.</p>
            </div>
                <div class="col-sm-6 col-xs-12">
                    <button button md-raised-button color="primary" class="primaryButton center" [routerLink]="['/quiz/list']">Take a Quiz</button>        
            </div>
        </div>
         <div class="col-xs-12 section">  
            <div class="col-sm-6 col-xs-12">
            </div>
            <div class="col-sm-6 col-xs-12">
                <!--button button md-raised-button color="primary" class="primaryButton center" (click)="createAccount.click()">Create an Account</button-->
            </div>          
        </div>
    </div><!--/.col-xs-8-->
    <div class="col-sm-4 col-xs-12">
        <login-register-form></login-register-form>
    </div>
</div>
<router-outlet></router-outlet>
