<div class="row main">
    <div class="col-xs-12">
        <div *ngIf="listQuizes && quizList !== null" class="list-quizes">
            <a class="right" [routerLink]="['/home']">Home</a>            
            <h3>List Quizes</h3>
            <ul>
                <li *ngFor="let quiz of quizList">
                    <a [routerLink]="['/take-quiz', quiz.id]">{{ quiz.name }}</a>
                    <p>{{ quiz.description }}</p>
                </li>
            </ul>
        </div><!-- end if listQuizes -->

        <div *ngIf="takeQuiz && currentQuiz !== null">
            <div class="col-sm-7 col-xs-12">
                <h2 *ngIf="!showResult">{{ currentQuiz.name }}</h2>
            </div>
            <div class="col-sm-5 col-xs-12">
                <!--<a class="right" [routerLink]="['/take-quiz', 'list']">Back to Quiz List</a>-->
                <a class="right" href="/take-quiz/list">Back to Quiz List</a>                
            </div>
            <!-- Quiz Desription -->
            <div class="col-xs-12" *ngIf="!showResult">
                <p>{{ currentQuiz.description }}</p>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-xs-12" *ngIf="currentAnswers != null">
                <!-- Quiz Form -->
                <form (ngSubmit)="submitQuiz($event); quizForm.reset()" #quizForm="ngForm" class="quizForm" *ngIf="!hideForm">
                    <div class="question-row" *ngFor="let question of currentQuestions; let i = index;" id="question-{{i + 1}}" [hidden]="currentQuestionNumber != (i + 1)">
                        <h3>{{ question.title }}</h3>
                        <ul class="question-options">
                            <li *ngFor="let answer of question.answers;">
                                <div class="radio"
                                    [class.activeOption]="activeOption[question.id] == answer.identifier" 
                                            (click)="activeOption[question.id] = answer.identifier">
                                    <label>
                                        <img src="{{ answer.image }}" alt="{{ answer.identifier }}" />                                                                            
                                        <input type="radio" 
                                               name="response_{{ question.id }}" 
                                               value="{{ answer.identifier }}"                                         
                                               [(ngModel)]="model.response[question.id]" 
                                               (ngModelChange)="onResponse($event)"
                                               [attr.required]="question.answers[0].identifier == answer.identifier ? true : null" /> 
                                        {{ answer.identifier }}.) {{ answer.content }}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div> <!--/.question-row-->
                    <button type="submit" md-raised-button class="quizButton center" id="submitQuiz" 
                        *ngIf="currentQuestionNumber === totalNumberQuestions">
                        Submit
                    </button> 
                     <button type="button" md-raised-button class="quizButton center" id="nextquestion" 
                         *ngIf="currentQuestionNumber < totalNumberQuestions" (click)="showNextQuestion()">
                        Next Question
                    </button> 
                </form> <!-- end #quizForm -->
            </div>

            <!-- Results Section -->
            <div *ngIf="showResult && quizResult != null" class="col-xs-12 results">
                <h2>{{ quizResultHeading }}</h2>
                <a href="/take-quiz/{{ id }}" class="right">Take Again</a>                
                <img src="//placehold.it/450x250" alt="result" />
                <p>{{ quizResult }}</p>
                <p>Learn more about civic professionals at XXXX.</p>
            </div> <!-- end showResults -->
        </div><!-- end if takeQuiz -->
    </div><!--/.col-xs-12-->
</div>

<div id="no-response-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Wait a minute...</h4>
      </div>
      <div class="modal-body">
        <p>Please select a response.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->